* {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #121318;
}

/*
 * Primary Navigation (add your style changes here)
 */

.primary-nav {
  position: fixed; /* nav doesn't scroll with the page */
  left: 0; /* positioned full width, along the top */
  top: 0;
  width: 100%;
  max-width: 100%;
  display: block; /* shown even though not necessary (nav defaults to block) */
  background: #e62325; /* red background */
}

/* more styles go here */
/* more styles go here */
/* more styles go here */


/*
 * Main Content Area (ignore this, make your changes above)
 */

html {
  width: 100%;
  height: 100%;
}

body, main {
  min-height: 100%;
}

h1 {
  padding: 25% 2.0rem;
  margin: 0;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  line-height: 1.2;
}

